<form class="form-horizontal" id="live-search-form" method="post" action="<%= search_path %>">
    <div class="form-group">
      <label for="inputType" class="col-md-3 control-label">جستجو بر اساس نام کاربر</label>
      <div class="col-md-3">
          <input type="text" class="form-control" name="name" id="big-search-box">
      </div>
    </div>
</form>

<div id="live-search-results">
	<%= render partial: 'table', locals: {submissions: @submissions } %>
</div>

<script type='text/javascript'>
	$("#big-search-box").bind("keyup", function() {
  $("#big-search-box").addClass("loading"); // show the spinner
  var form = $("#live-search-form"); // grab the form wrapping the search bar.

  var url = "/expert/search"; // live_search action.   
  var formData = form.serialize(); // grab the data in the form   
  $.get(url, formData, function(html) { // perform an AJAX get

    $("#big-search-box").removeClass("loading"); // hide the spinner

    $("#live-search-results").html(html); // replace the "results" div with the results

   handle_animation();

});

});
</script>