<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">سامانه‌ی هوشمند بررسی آسیب اوتیسم</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.full_name %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/profile">پروفایل</a></li>
						<li class="divider"></li>
						<li><%= link_to 'خروج', destroy_user_session_path, method: :delete %></li>
					</ul>
				</li>
				<li><%= link_to 'تست‌ها', submissions_path %> </li>
				<li><a href="/">خانه</a></li>
				<% else %>
					<li><a href="/users/sign_in">ورود</a></li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-left">
				<li><a href="#">درباره‌ی ما</a></li>
				<li><a href="#">حریم خصوصی</a></li>
				<li><a href="/contact_us">تماس با ما</a></li>
			</ul>
		</div>
	</div>
</nav>